<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email Verification Code Check Page</title>
</head>
<body>
    {% if try_again %}
        <p>{{ try_again }}</p>
    {% elif email_not_verified %}
        <p>{{ email_not_verified }}</p>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="user_id" value={{ user_id }}>
        <button type="submit">SUBMIT</button>
    </form>
</body>
</html>